<div class="container d-flex align-items-center" style="height: 900px; ">

  <div class="my-2 title text-center">
    <a href="/">
      <img src="/image/link.svg" class="w-25">
    </a>
  </div>
  {{!-- required驗證有無輸入 --}}
  {{#unless data}}
  <form action="/" method="POST" class="mt-4 w-100 d-flex mx-auto">
    <div class="input-group mb-3">
      <input type="url" class="form-control" name="url" id="url" placeholder="請貼上網址" required>
      <div class="input-group-append">
        <button class="btn btn-secondary" type="submit" id="button-addon2">SHORT!</button>
      </div>
    </div>
  </form>
  {{/unless}}

  {{#if data}}
  <div class="mt-4 w-100 d-flex mx-auto">
    <div class="input-group mb-3 flex-column">

      <span class="input-group-text bg-transparent border-0 text-dark font-weight-bold">請用短網址：</span>
      <div class="input-group">
        <input class="form-control rounded-left bg-white" id="shorten-url" value="{{ theResult }}" readonly>
        <div class="input-group-append">
          <button class="btn btn-primary btn-copy" id="button-addon2">COPY!</button>
        </div>
      </div>
    </div>
  </div>

  {{/if}}

</div>