<div class="container d-flex align-items-center" style="height: 1000px; ">

  <div class="my-2 title text-center">
    <a href="/">
      <img src="/image/link.svg" class="w-25">
    </a>
  </div>

  <div>
    <H5>Oops! 沒有這個地方，請重新確認網址。</H5>
  </div>
</div>